
.doctors-details-cart{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 32.5rem;
    margin: 10px;
    box-shadow: 2px 0px 10px gray;
    padding: .9375rem;
    background: rgb(233, 231, 231);
}
.img{
    width: 100px;
}
.img img{
    width: 90%;
    border: 2px solid gray;
    border-radius: .3125rem;
}

.about-Doctors>div{
     width: 12.5rem;
     font-weight: bold;
     height: 28.125rem;
}

.about-Doctors span{
    font-weight: normal;
}
.about-Doctors p{
    border-bottom: 1px solid gray;
    padding: .5rem;
}
.social-icons{
    display: flex;
    margin-top: .625rem;
}
.social-icons .fab{
    padding: 0 7px;
    color: rgb(75, 175, 214);
}
.social-icons .fab:hover{
    padding: 0 7px;
    color: rgb(5, 85, 85);
    cursor: pointer;
}

@media only screen and (max-width:768px){
    .doctors-details-cart{
    display: flex;
    flex-direction: column;
    height:895px;
    margin: .625rem;
    box-shadow: 2px 0px 10px gray;
    padding: .9375rem;
    background: rgb(233, 231, 231);
    text-align: center;
    width: 250px;
}
.about-Doctors{
     width: 0px;
     
}
.about-Doctors>div{
     
     font-weight: bold;
     height: 22rem;
}
}